@import url("./colors.css");

* {
    border: none;
    /*border-radius: 0;*/
    /*font-family: "Hack", "Noto Color Emoji", sans-serif;*/
    font-size: 18px;
    /*font-weight: bold;*/
    min-height: 30px;
    color: #5a00a6;
    border-radius: 8px 8px 8px 8px;
}

window#waybar {
    /* background: @background-darker; */
    background-color: rgba(168,202,240,0);
    color: @purple;
    /* or cyan, green, orange, pink, red, yellow, foreground, background-darker etc. */
}

#workspaces {
    background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%);
    border-radius: 20px 20px 20px 20px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 13px 13px 13px 13px;
}

#clock, #battery, #backlight, #pulseaudio, #network {
    padding: 0 10px;
    margin: 0 3px;
    border-radius: 20px 20px 20px 20px;
}

#clock {
    font-weight: bold;
    color: @green;
    /* background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%); */
}

/*tooltip {
    color: @green;
}*/

#cpu, #memory {
    padding: 0 5px;
    margin: 0 0px;
    background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%);
}

#cpu {
    border-radius: 20px 0px 0px 20px;
}

#memory {
    margin-right: 3px;
    border-radius: 0px 20px 20px 0px;
}

#network {
    background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%);
}

#pulseaudio {
    background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%);
}

#backlight {
    background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%);
}

#battery, #battery.charging, #battery.critical:not(.charging) {
    background: linear-gradient(0deg, rgba(215,255,217,0.7) 0%, rgba(181,243,255,0.7) 50%);
}

#battery.charging {
    color: @orange;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding: 0 10px;
    /* margin: 0px; */
    margin-left: 5px;
    /* background-color: #FFFFFF; */
    background-color: rgba(242, 244, 255, 0.5);
    color: #e5e9f0;
    border-radius: 20px 20px 20px 20px;
}

